/******************************************
    Version: 1.0
/****************************************** */

/*styles for the arrow icon from FA*/
.fa-arrow-up {
	position: relative;
	top: .3rem;
}

/*styles for slider arrows*/
.arrows .arrow.next {
	position: relative;
	top: -.2rem;
}

button,
.custom-file-upload,
.logo,
.footer-logo,
a:not(.list-group-item),
li {
	transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	&:hover,
	&:focus {
		transform: scale(1.1);
		-webkit-filter: brightness(1.2);
		-moz-filter: brightness(1.2);
		-ms-filter: brightness(1.2);
		-o-filter: brightness(1.2);
		filter: brightness(1.2);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
}

:is(img):not(.news_section .row .box .img-box img) {
	transition: transform .5s, box-shadow 1s;

	&:hover {
		box-shadow: 3px 3px 5px #555, 1px 2px 1.2px #ff0;
		transform: scale(1.1) skew(-3deg);
		-webkit-transform: scale(1.1) skew(-3deg);
		-moz-transform: scale(1.1) skew(-3deg);
		-ms-transform: scale(1.1) skew(-3deg);
		-o-transform: scale(1.1) skew(-3deg);
	}
}

.news_section .row .box {
	border-radius: 10% 0 10% 0;

	& .img-box img {
		border-radius: 10% 0;
	}

	transition: transform 0.5s,
	box-shadow 1s;

	&:hover {
		box-shadow: 3px 3px 5px #555, 1px 2px 1.2px #ff0;
		transform: scale(1.1) skew(-3deg);
		-webkit-transform: scale(1.1) skew(-3deg);
		-moz-transform: scale(1.1) skew(-3deg);
		-ms-transform: scale(1.1) skew(-3deg);
		-o-transform: scale(1.1) skew(-3deg);
	}
}

@media only screen and (min-width: 992px) {
	#mainNav {
		height: 5rem;

		& img {
			width: 18% !important;
		}
	}

	.burger {
		top: 1.4rem !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #ffffff;
		padding: .25rem .625rem !important;

		& img {
			width: 16% !important;
		}
	}

	.burger {
		top: 1rem;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.heading h1 {
		font-size: 28px;
	}

	.heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 1.875rem;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}

	.pricingTable .pricing-content li {
		font-size: 14px;
	}
}

.burger {
	top: 1.7rem;
}

@media (max-width: 767px) {
	#mainNav {
		padding: .2rem !important;

		& img {
			width: 20% !important;
		}
	}

	.burger {
		top: 1.8rem;
	}




	.fa-arrow-up {
		position: relative;
		top: .2rem;
	}



	#mainNav {
		background-color: #ffffff;
		padding: .9375rem .625rem;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.heading h1 {
		font-size: 28px;
	}

	.heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		padding: 0rem !important;
		& img {
			width: 30% !important;
		}
	}

	.burger {
		top: 1.1rem;
	}

	/* #mainNav {
		background-color: #1ca867;
	} */

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.fat-nav li {
		float: none;
		width: 100%;
	}

	.heading h1 {
		font-size: 1.75rem;
	}

	.heading p {
		font-size: .875rem;
	}

	.cd-headline.clip span {
		font-size: 1.25rem;
	}

	.section-title h3 {
		font-size: 1.75rem;
	}

	.section-title p {
		font-size: .875rem;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 1.875rem;
	}

	.filter-button-group button {
		padding: .75rem 1.6875rem;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 1.875rem;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}

	.message-box h2 {
		font-size: 1.375rem;
	}

	.skillbar-title {
		display: none;
	}

	.heading {
		vertical-align: bottom;
	}

	.pricingTable {
		margin-bottom: 1.875rem;
	}

	.fat-nav li {
		font-size: 1.125rem;
	}

	.banner h2 {
		font-size: 2.1875rem;
	}

	.banner h2::after {
		height: 26px;
	}

	.right-box-pro {
		margin-bottom: 1.875rem;
	}

	.filter-button-group button {
		font-weight: 500;
		font-size: .75rem;
	}
}

@media only screen and (min-width: 372px) and (max-width: 600) {
	#mainNav {
		padding: 0rem !important;
		& img {
			width: 20% !important;
		}
	}

	.burger {
		top: 1.5rem;
	}
}



@media only screen and (min-width: 80px) and (max-width: 280px) {
	#mainNav {
		display: none;
		padding: 1rem .625rem !important;
	}
}

@media screen and (max-width: 1007px) {
	#reviews {
		background-attachment: fixed !important;
		background-position: center !important;
	}
}