/******************************************
    Version: 1.0
/****************************************** */

.fa-arrow-up {
	position: relative;
	top: .2rem;
}


button,
.custom-file-upload,
.logo,
.footer-logo,
a,
li {
	transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	&:hover,
	&:focus {
		transform: scale(1.1);
		-webkit-filter: brightness(1.2);
		-moz-filter: brightness(1.2);
		-ms-filter: brightness(1.2);
		-o-filter: brightness(1.2);
		filter: brightness(1.2);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
}
}

:is(img):not(.news_section .row .box .img-box img) {
	transition: transform .5s, box-shadow 1s;

	&:hover {
		box-shadow: 3px 3px 5px #555, 1px 2px 1.2px #ff0;
		transform: scale(1.1) skew(-3deg);
		-webkit-transform: scale(1.1) skew(-3deg);
		-moz-transform: scale(1.1) skew(-3deg);
		-ms-transform: scale(1.1) skew(-3deg);
		-o-transform: scale(1.1) skew(-3deg);
	}
}

.news_section .row .box {
	border-radius: 10% 0 10% 0;

	& .img-box img {
		border-radius: 10% 0;
	}

	transition: transform .5s,
	box-shadow 1s;

	&:hover {
		box-shadow: 3px 3px 5px #555, 1px 2px 1.2px #ff0;
		transform: scale(1.1) skew(-3deg);
		-webkit-transform: scale(1.1) skew(-3deg);
		-moz-transform: scale(1.1) skew(-3deg);
		-ms-transform: scale(1.1) skew(-3deg);
		-o-transform: scale(1.1) skew(-3deg);
	}
}

@media only screen and (min-width: 992px) {
	#mainNav {
		height: 5rem;

		& img {
			padding: .2rem !important;
			width: 8% !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #ffffff;
		padding: 12px 10px !important;

		& img {
			padding: .2rem !important;
			width: 10% !important;
		}
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.heading h1 {
		font-size: 28px;
	}

	.heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}

	.pricingTable .pricing-content li {
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	#mainNav {
		padding: 15px !important;

		& img {
			padding: .2rem !important;
			margin: .5rem;
			width: 12% !important;
		}
	}

	.fa-arrow-up {
		position: relative;
		top: .2rem;
	}

	#mainNav {
		background-color: #ffffff;
		padding: 15px 10px;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.heading h1 {
		font-size: 28px;
	}

	.heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		& img {
			padding: 0rem !important;
			width: 30% !important;
		}
	}

	#mainNav {
		background-color: #ffffff;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.fat-nav li {
		float: none;
		width: 100%;
	}

	.heading h1 {
		font-size: 28px;
	}

	.heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	#clouds {
		margin-top: -35%;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}

	.message-box h2 {
		font-size: 22px;
	}

	.skillbar-title {
		display: none;
	}

	.heading {
		vertical-align: bottom;
	}

	.pricingTable {
		margin-bottom: 30px;
	}

	.fat-nav li {
		font-size: 18px;
	}

	.banner h2 {
		font-size: 35px;
	}

	.banner h2::after {
		height: 26px;
	}

	.right-box-pro {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		font-weight: 500;
		font-size: 12px;
	}
}

@media only screen and (min-width: 80px) and (max-width: 280px) {
	#mainNav {
		display: none;
		padding: 15px 10px !important;

		& img {
			padding: 0rem !important;
			width: 40% !important;
		}
	}
}

#mainNav img {
	width: 3rem !important;
}

.burger {
	background: rgba(0, 77, 44, .6);
}

.burger.burger--close {
	background: #ffba1f !important;
}